POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb
POSTGRES_HOST=postgres-test
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable

GOOSE_DRIVER=postgres
POSTGRES_DSN=postgres://testuser:testpass@postgres-test:5432/testdb?sslmode=disable